:root {
    --page-color: #141414;
    --text-color: #bdbaba;
    --text-alt-col:#333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    display: block;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
}

body * {
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
    font-size: 16px;
    text-decoration: none;
    line-height: 1.35;
    outline: none;
}

.col {
    height: 100%;
    display: block;
    overflow: auto;
    position: fixed;
    background-color: var(--page-color);
    top: 0;
    left: 0;
}

@media (max-width: 991px) {
    :root {
        --page-color: #0c0c0c;
    }
    .col.left {
        width: 100%;
        min-width: 212px;
    }

    .col.right {
        display: none;
    }
}

@media only screen and (min-width: 991px) {
    .col.right {
        width: 50%;
        top: 0;
        left: 50%;
    }

    .col.left {
        width: 50%;
        top: 0;
        left: 0;
    }
}

.col.right {
    background: url(images/astronaut2.webp) no-repeat;
    background-size: cover;
}

.loginWrapper {
    display: block;
}

@media only screen and (min-width: 650px) {
    .loginWrapper {
        width: 50%;
        max-width: 385px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 991px) and (max-width: 1279px) {
    .loginWrapper {
        width: 75%;
    }
}

@media (max-width: 650px) {

    .loginWrapper {
        margin: 10%;
        position: relative;
    }
}
.loginWrapper .loginText {
    font-size: 28px;
    color: #DDD;
    font-weight: normal;
    margin-bottom: -6px;
}

.userLoginForm {
    width: 100%;
    border: none;
}
.userLoginForm > .msgBox {
    font-size: .75rem;
    color: rgb(235, 235, 235);
    text-align: left;
    /* display will be toggled using script */
    display: none;
}

.userLogin {
    width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
}

.userLogin:not(.userLoginSubmit) {
    border: 1px solid;
    background-color: #36363696;
    backdrop-filter: blur(28px);
    box-shadow: 1px 1px 12px 2px #0808084d;
    white-space: pre-wrap;
    border: none;
    font-size: 14px;
    text-indent: 6%;
}

::placeholder {
    color: #adabab8e;
}
.userLogin:not(.userLoginSubmit):focus, .userLogin:not(.userLoginSubmit):hover {
    background-color: transparent;
    outline: 1px solid rgb(73, 73, 73);
}
.userLoginSubmit, .userLoginSubmit:disabled {
    color: white;
    background-color: rgb(12, 126, 240);
    border: none;
    font-size: 1.1rem;
    padding: 10px 0;
    margin: 0;
}

[data-line-divisor] {
    display: block;
    text-align: center;
    border: none;
    outline: none;
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
    left: 0;
}

[data-line-divisor]::before {
    content: "";
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

[data-line-divisor]::after {
    content: attr(data-text);
    display: inline-block;
    font-size: .9rem;
    white-space: pre-wrap;
    background-color: var(--page-color);
}

.alternateLogin {
    display: inline-block;
    width: 48%;
    border: 1px solid #333;
    padding: 10px 0 10px 0;
    position: relative;
    overflow: visible;
    text-align: center;
    font-size: .85rem;
}

.alternateLogin.google {
    left: 0;
    border-radius: 5px 0 0 5px;
}

.alternateLogin.google::after {
    content: attr(data-text-google);
}

.alternateLogin.facebook {
    left: 3%;
    border-radius: 0 5px 5px 0;
}

.alternateLogin.facebook::after {
    content: attr(data-text-facebook);
}

[data-privacy-text],
[data-privacy-text] * {
    display: inline-block;
    font-size: .76rem;
    vertical-align: middle;
}

[data-privacy-text] {
    margin-top: 9px;
}
.signIn {
    width: 25%;
    margin: 7px 0 0 7px;
    padding: 5px 0 5px 0;
    font-size: .83rem;
    text-align: center;
    border: 1px solid #961616;
    border-radius: 5px;
    position: absolute;
    right: 0;
}

[data-text-last], [data-text-last] *{
    position: relative;
    font-size: .8rem;
    text-align: center;
    margin-top: 45px;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover,
a:active {
    color: #ee2525;
    background-color: none;
}